%div.grid_2.leftbar.right.alpha{ :id => "post-#{post.id}-sidebar" }
  %p{ :style => 'margin-bottom: 20px' }
    <!-- take up space -->
%div.grid_8.omega.content{ :id => "post-#{post.id}-content" }
  .border
    %div{ :id => "post-#{post.id}", :class => post_class(post) }
      %h2.post-title= h("Up and coming: #{post.title}")