%title= h(title)
- unless canonical.nil?
  %link{ :rel => 'canonical', :href => canonical }
%link{ :rel => 'index', :title => Blog.title, :href => Blog.index }
%link{ :rel => 'icon', :type => 'image/png', :href => asset_url('/images/favicon.png') }
%link{ :rel => 'search', :type => 'application/opensearchdescription+xml', :href => "#{Blog.index}opensearch.xml", :title => Blog.title }
%link{ :rel => 'alternate', :type => 'application/rss+xml', :title => "#{Blog.title} RSS Feed", :href => "#{Blog.index}feed" }
= meta_tag('text/html; charset=utf-8', 'http-equiv' => 'Content-Type')
= meta_tag(description, :name => 'description')
- unless keywords.empty?
  = meta_tag(keywords.join(','), :name => 'keywords')
= stylesheet_bundle_link_tag(:all)

:javascript
  if (top.location != self.location) { top.location = self.location.href; }

- if development? || env['REQUEST_PATH'] =~ %r{/preview$}
  :javascript
    var disqus_developer = 1;

%noscript
  %style{ :type => 'text/css' }
    :plain
      a:hover {
        border-bottom: 1px dotted;
      }

      .content a {
        padding: 2px !important;
        border-bottom: 1px dotted;
      }

      .content a:hover {
        -moz-border-radius: 2px !important;
        -webkit-border-radius: 2px !important;
        border-radius: 2px !important;
        background-color: #252625 !important;
        border-bottom: 0px;
        color: #a69b03 !important;
        text-decoration: underline;
      }