%title= h(title)
%link{ :rel => 'index', :title => Blog.title, :href => Blog.index }
= meta_tag('text/html; charset=utf-8', 'http-equiv' => 'Content-Type')
= meta_tag(Blog.tagline, :name => 'description')
- unless keywords_post.nil?
  = meta_tag(keywords_post.keywords.join(','), :name => 'keywords')

%link{ :rel => 'alternate', :type => 'application/rss+xml', :title => "#{Blog.title} RSS Feed", :href => "#{Blog.index}feed" }

= stylesheet_bundle_link_tag(:all)

- if env['REQUEST_PATH'] =~ %r{/(edit|posts)$}
  = stylesheet_link_tags(*%w(markitup/style markitup/set))
  = javascript_include_tags(*%w(jquery.markitup set))
  :javascript
    $(document).ready(function() { $('textarea').markItUp(mySettings); });

:javascript
  if (top.location != self.location) { top.location = self.location.href; }

- if development? || env['REQUEST_PATH'] =~ %r{/preview$}
  :javascript
    var disqus_developer = 1;

%noscript
  %style
    :plain
      .content a {
        padding: 2px !important;
        border-bottom: 1px dotted;
      }

      .content a:hover {
        -moz-border-radius: 2px !important;
        -webkit-border-radius: 2px !important;
        border-radius: 2px !important;
        background-color: #252625 !important;
        border-bottom: 0px;
        color: #a69b03 !important;
      }