%div.grid_2.leftbar.right.alpha{ :id => "post-#{post.id}-sidebar" }
  %h1.date= post.published_on_local.strftime('%d%b%y')
  %p.time= post.published_on_local.strftime("%I:%M %p #{Blog.tz_display}")
  %p.category= "Posted in #{category_link(post.category)}"
  %p.tags= tag_links(post)
%div.grid_8.omega.content{ :id => "post-#{post.id}-content" }
  .border
    %div{ :id => "post-#{post.id}", :class => post_class(post) }
      %h2.post-title= link_to(h(post.title), post.permalink, :rel => 'bookmark', :title => "Permanent Link to #{post.title}")
      .entry= post.body_html
      - if sharing && !request.xhr?
        .spacer
        .addthis_toolbox.addthis_default_style
          %a.addthis_button_twitter
          %a.addthis_button_slashdot
          %a.addthis_button_digg
          %a.addthis_button_hackernews
          %a.addthis_button_reddit
          %a.addthis_button_linkedin
          %a.addthis_button_delicious
          %span.addthis_separator |
          = link_to('Share', 'http://www.addthis.com/bookmark.php?v=250&amp;username=darkhelmetlive', :class => 'addthis_button_compact')
        = javascript_include_tag('http://s7.addthis.com/js/250/addthis_widget.js#username=darkhelmetlive')
      - unless request.xhr? || user_agent?(/thunderbird/i)
        .spacer
        = partial(disqus_part, :locals => { :post => post })