.sidebar-item
  %h3
    = link_to(image_tag(asset_url('/images/rss.png'), :style => 'vertical-align: bottom;'), '/feed', :no_escape => true)
    = link_to('Subscribe', '/feed')
.sidebar-item
  %form#search{ :action => '/search', :method => 'GET' }
    %input#query{ :type => 'text', :name => 'q' }
    %input#submit{ :type => 'image', :value => 'Search', :src => '/images/magnifier.png' }
.sidebar-item
  %h3 Author
  = gravatar_html
  - %w(twitter linkedin facebook skype delicious readernaut lastfm flickr).each do |n|
    = where_link(n)
  %p#bio
    = Blog.author
    = Blog.bio
- unless minimal_sidebar?
  = cached_partial(:extra_sidebar, 1.year) # this gets rebuilt
.sidebar-item
  Hosting by:
  %br
  = link_to(image_tag(asset_url('/images/heroku.png')), 'http://heroku.com/', :no_escape => true)