.sidebar-item
  %h3
    = link_to(image_tag(asset_url('/images/rss.png'), :style => 'vertical-align: bottom;'), '/feed', :no_escape => true)
    = link_to('Subscribe', '/feed')
.sidebar-item
  %form#search{ :action => '/search', :method => 'GET' }
    %input#query{ :type => 'text', :name => 'q' }
    %input#submit{ :type => 'image', :value => 'Search', :src => '/images/magnifier.png' }
.sidebar-item
  %h3 Author
  = gravatar_html
  - %w(twitter linkedin facebook skype delicious readernaut lastfm flickr).each do |n|
    = where_link(n)
  %p#bio
    = Blog.author
    = Blog.bio
- unless minimal_sidebar
  .sidebar-item
    #writeSkribitHere
    = javascript_include_tag('http://assets.skribit.com/javascripts/SkribitWidget.js?renderTo=writeSkribitHere&amp;blog=5e91fca2cf7d25b4d74b682aa37d0908&amp;cnt=5', true)
    %noscript
      Sorry, but the
      = link_to('Skribit', 'http://skribit.com/', :title => "Skribit - Cure Writer's Block")
      widget only works on browsers with JavaScript support.
      = link_to('View suggestions for this blog here.', 'http://skribit.com/blogs/verbose-logging', :title => 'Skribit Suggestions for verbose logging')
  .sidebar-item
    %h3{ :style => 'display: inline-block' } Tags
    %span.small= link_to('(show all tags)', '#', :id => 'show-tags')
    %br
    = cached_partial(:tag_sidebar)
  .sidebar-item
    %h3 Categories
    = partial(:category_sidebar)
  .sidebar-item
    %h3 Archives
    = cached_partial(:monthly_archives)
.sidebar-item
  Hosting by:
  %br
  = link_to(image_tag(asset_url('/images/heroku.png')), 'http://heroku.com/', :no_escape => true)