.sidebar-item
  %h3
    = link_to(image_tag('/images/rss.png', :style => 'vertical-align: middle;'), '/feed')
    = link_to('Subscribe', '/feed')
.sidebar-item
  %form#search{ :action => '/search', :method => 'GET' }
    %input#query{ :type => 'text', :name => 'q' }
    %br
    %input{ :type => 'submit', :value => 'Search' }
.sidebar-item
  %h2 The author
  = image_tag(gravatar_url(Blog.email))
  = Blog.author
  = Blog.bio
.sidebar-item
  %h2 Tags
  = partial(:tag_sidebar)
.sidebar-item
  %h2 Categories
  = partial(:category_sidebar)
.sidebar-item
  %h2 Archives
  %ul
    - monthly_archive_links.reverse_each do |l|
      %li= l