.sidebar-item
  %h3
    = link_to(image_tag(asset_url('/images/rss.png'), :style => 'vertical-align: bottom;', :alt => 'RSS Feed'), '/feed', :id => 'feed', :no_escape => true)
    = link_to('Subscribe', '/feed')
.sidebar-item
  %form#search{ :action => '/search', :method => 'get' }
    %input#query{ :type => 'text', :name => 'q' }
    %input#submit{ :type => 'image', :value => 'Search', :src => asset_url('/images/magnifier.png') }
.sidebar-item
  %h3 Author
  = gravatar_html
  - %w(twitter linkedin skype flickr).each do |n|
    = where_link(n)
  %p#bio
    = Blog.author
    = Blog.bio
- unless minimal_sidebar?
  = cached_partial(:extra_sidebar) # this gets rebuilt
.sidebar-item
  Hosting by:
  %br
  = link_to(image_tag(asset_url('/images/heroku.png'), :alt => 'Hosting by Heroku'), 'http://heroku.com/', :id => 'hosting', :no_escape => true)