!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en' }
  %head
    = javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    = partial(:head)
    = javascript_bundle_include_tag(:all)
    = stylesheet_link_tag('jquery.autocomplete')
    = javascript_include_tag('jquery.autocomplete')
  %body= yield