%div.grid_2.leftbar.right.alpha{ :id => "post-#{post.id}-sidebar" }
  %h1.date= post.published_on_local.strftime('%d%b%y')
  %p.time= post.published_on_local.strftime("%I:%M %p #{Blog.tz_display}")
  %p.category= "Posted in #{category_link(post.category)}"
  %p.tags= tag_links(post)
%div.grid_8.omega.content{ :id => "post-#{post.id}-content" }
  .border
    %div{ :id => "post-#{post.id}", :class => post_class(post) }
      %h2.post-title
        %a{ :href => post.permalink, :rel => 'bookmark', :title => "Permanent Link to #{post.title}" }= h(post.title)
      .entry= post.body_html
      - unless request.xhr?
        = partial(disqus_part.intern, :locals => { :post => post })