- if @future_post
  = partial(:future_post, :locals => { :post => @future_post })
- if @posts && 0 < @posts.size
  - if preview_posts?
    - @posts.each do |post|
      = partial(:preview_post, :locals => { :post => post })
  - else
    = partial(:post, :collection => @posts)
  - if keywords_post && 0 < (related_posts = (Post.find_by_keywords(keywords_post) - [keywords_post])[0,10]).size
    %div.grid_2.alpha{ :id => 'related-sidebar' }
      %p <!-- take up space -->
    %div.grid_8.omega.content{ :id => 'related-content' }
      .border
        .entry
          %h3 If you enjoyed this post, you might like these...
          %ul
            - related_posts.each do |post|
              %li= link_to(h(post.title), post.permalink)

  - unless request.xhr? || 1 == @posts.total_pages
    = partial(:pagination)
- else
  = partial(:not_found)