.sidebar-item.right
  %h3
    %a{ :href => '/feed' }
      = partial("%img{ :src => '/images/rss.png', :style => 'vertical-align: middle;' }")
    %a{ :href => '/feed' } Subscribe
.sidebar-item.right
  %h2 The author
  %ul
    %li
      = image_tag(gravatar_url(Blog.email))
    %li= "#{Blog.author} #{Blog.bio}"
.sidebar-item.right
  %ul
    %li
      %h2 Tags
    %li
      = partial(:tag_sidebar)
.sidebar-item.right
  %h2 Archives
  %ul
    - monthly_archive_links.reverse_each do |l|
      %li= l